<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="https://web.facebook.com/ekemini.monday.54?_rdc=1&_rdr" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/kemzzycodes">Twitter</a></li>
            <li><a href="https://www.fiverr.com/kemzzy17">Fiverr</a></li>
            <li><a href="https://t.co/nxcGR8YsAH">Linkedin</a></li>
            <li><a href="https://wa.me/+2349038306057">Whatsapp</a></li>
          </ul>
        </div>

        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright &copy; 2022 TekTalks

          </div>
        </div>
      </div>
    </div>
  </footer>